[Unit]
Description=Tasmota Lights Control backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/tasmota-lights-control/bin/tasmota-lights-control --config %h/.config/tasmota-lights-control/config/config.toml
WorkingDirectory=%h/tasmota-lights-control
Restart=on-failure
RestartSec=3s
TimeoutStopSec=15s
NoNewPrivileges=yes
PrivateTmp=yes
UMask=0077

[Install]
WantedBy=default.target
