:host {
  display: block;
}
.not-found {
  padding: 70px 20px;
  text-align: center;
}
.not-found strong {
  color: var(--color-primary);
  font-size: 56px;
}
.not-found h1 {
  color: var(--color-text);
}
.not-found a {
  display: inline-block;
  margin-top: 25px;
  color: var(--color-primary);
}
