<form novalidate (submit)="$event.preventDefault(); submit()">
  <mat-form-field appearance="outline"
    ><mat-label>Name</mat-label><input matInput [formField]="bulbForm.name" /></mat-form-field
  ><mat-form-field appearance="outline"
    ><mat-label>IPv4 address</mat-label
    ><input matInput [formField]="bulbForm.ipAddress" /></mat-form-field
  ><mat-form-field appearance="outline"
    ><mat-label>Port</mat-label><input matInput type="number" [formField]="bulbForm.port"
  /></mat-form-field>
  <div class="actions">
    <button mat-button type="button" (click)="cancel.emit()">Cancel</button
    ><button
      mat-stroked-button
       [disabled]="!bulbForm().valid() || pending()"
      type="button"
      (click)="test()"
    >
      Test endpoint</button
    ><button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!this.bulbForm().valid() || pending()"
    >
      Save bulb
    </button>
  </div>
</form>
