:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  max-width: 37.5rem;
}

form > fieldset {
  padding: 0;
  border: 0;
}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.actions button:first-child {
  margin-right: auto;
}
